.main-slide-movies {
  width: 100%;
  background-color: #000;
  /* padding: 48px 24px; */
}
.slide-movies-top {
  padding: 48px 24px;
}
.slide-movies-top h2 {
  color: #eee;
  font-size: 16px;
}
.slide-movies-top h2 span {
  display: block;
  font-size: 26px;
  font-weight: 900;
  color: rgb(218, 41, 28);
  padding-top: 5px;
}
.main-slide-movies .slide-movies-bottom {
  position: relative;
  width: 100%;
}
.main-slide-movies .slide-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  gap: 24px;
  padding: 0 24px 80px;
}
.main-slide-movies .slide-wrap p {
  color: #fff;
}
.main-slide-movies .slide-wrap .slide-item {
  width: 100%;
}
.main-slide-movies .slide-wrap .slide-item img {
  width: 100%;
  aspect-ratio: 12/6;
  object-fit: cover;
  transform: translateX(-24px);
}
.main-slide-movies .slide-wrap .movie-title {
  font-size: 20px;
  font-weight: 600;
  padding: 12px 0;
}
.main-slide-movies .slide-wrap .movie-overview {
  font-weight: 300;
  line-height: 21px;
}
.main-slide-movies .slide-wrap .numbering {
  width: 100px;
  height: 20px;
  background-color: pink;
}
.main-slide-movies .btn-wrap {
  width: 100%;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  padding: 0 52px;
  transform: translateY(-60px);
}
.main-slide-movies .slide-movies-bottom button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 50%;
  position: relative;
}
/* MainNewMovies */
.bg-black {
  width: 100%;
  height: 190px;
  position: absolute;
  background-color: #000;
  z-index: -1;
  top: 0;
  left: 0;
}
.main-latest-movies {
  width: 100%;
  padding: 0 24px 100px;
  position: relative;
}
.main-latest-movies .latest-movies-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.main-latest-movies .latest-movies-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
}
.main-latest-movies h2 {
  font-size: 22px;
  color: #fff;
}
.main-latest-movies button {
  width: 24px;
  height: 24px;
  position: relative;
}
.main-latest-movies .prev-btn {
  margin-right: 10px;
}
.main-latest-movies button span,
.slide-movies-bottom button span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.6;
}
.slide-movies-bottom button span {
  width: 8px;
  height: 8px;
  opacity: 1;
}
.main-latest-movies .prev-btn span,
.slide-movies-bottom .prev-btn span {
  transform: translate(-50%, -50%) rotate(-135deg);
}
.main-latest-movies .next-btn span,
.slide-movies-bottom .next-btn span {
  transform: translate(-50%, -50%) rotate(45deg);
}
.main-latest-movies button.active span {
  opacity: 1;
}
.main-latest-movies .latest-poster-wrap {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-gap: 24px;
  transition: transform 0.3s ease-out;
}
.main-latest-movies .latest-poster {
  height: 280px;
  background-color: pink;
  position: relative;
  overflow: hidden;
}
.main-latest-movies .latest-poster img {
  width: 100%;
  object-fit: cover;
}
.main-latest-movies .latest-poster .desc {
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.main-latest-movies .latest-poster .desc span:last-child {
  color: #aaa;
}

@media (min-width: 768px) {
  .slide-movies-top {
    padding: 78px 48px 48px;
  }
  .slide-movies-top h2 {
    font-size: 20px;
  }
  .slide-movies-top h2 span {
    font-size: 30px;
    padding-top: 8px;
  }
  .main-slide-movies .slide-wrap {
    padding: 0 48px 80px;
  }
  .main-slide-movies .slide-wrap {
    grid-gap: 48px;
  }
  .main-slide-movies .slide-wrap .slide-item img {
    transform: translateX(-48px);
  }
  .main-slide-movies .slide-wrap .movie-title {
    font-size: 24px;
    font-weight: 800;
  }
  .main-slide-movies .slide-wrap .movie-overview {
    font-weight: 300;
    line-height: 21px;
    padding-right: 48px;
  }
  .main-slide-movies .btn-wrap {
    padding: 0 105px;
  }
  /* MainNewMovies */
  .bg-black {
    height: 230px;
  }
  .main-latest-movies {
    padding: 0 48px 100px;
  }
  .main-latest-movies h2 {
    font-size: 24px;
  }
  .main-latest-movies .latest-movies-top {
    margin-bottom: 30px;
  }
  .main-latest-movies .latest-poster-wrap {
    grid-template-columns: repeat(5, 250px);
  }
  .main-latest-movies .latest-poster {
    height: 340px;
  }
}
@media (min-width: 1024px) {
  .slide-movies-top h2 {
    font-size: 24px;
  }
  .slide-movies-top h2 span {
    font-size: 40px;
    padding-top: 8px;
  }
  .main-slide-movies .slide-wrap .slide-txt {
    display: flex;
    padding-bottom: 100px;
  }
  .main-slide-movies .slide-wrap .movie-title {
    font-size: 24px;
    font-weight: 800;
    padding: 28px 0;
    width: 25%;
  }
  .main-slide-movies .slide-wrap .movie-overview {
    font-weight: 300;
    line-height: 21px;
    width: 75%;
    padding-top: 28px;
  }
  .main-slide-movies .slide-movies-bottom button {
    width: 40px;
    height: 40px;
  }
  .main-slide-movies .slide-movies-bottom button:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  .slide-movies-bottom button span {
    width: 10px;
    height: 10px;
  }
  /* MainNewMovies */
  .bg-black {
    height: 280px;
  }
  .main-latest-movies .latest-poster-wrap {
    grid-template-columns: repeat(5, 300px);
  }
  .main-latest-movies .latest-poster {
    height: 410px;
  }
}
